{% extends "layout.html" %}

{% block title %}
    More Info
{% endblock %}

{% block main %}
     <main class="container p-6">
    <table class="table table-hover">
        <thead class="thead-light">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Time Posted</th>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for information in informations %}
                <tr>
                    <td>{{information.food}}</td>
                    <td>{{information.address}}</td>
                    <td>{{information.time}}</td>
                    <td>{{information.name}}</td>
                    <td>{{information.contact}}</td>
                    <td>{{information.remarks}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}